/* 🎂 Fondo estilo crema + rosa */
.navbar-pasteleria {
  background: linear-gradient(90deg, #FFF4E6, #F8C8DC);
}

/* 🍫 Links */
.navbar-pasteleria .nav-link {
  color: #8B5E3C !important;
  transition: all 0.3s ease;
}

.navbar-pasteleria .nav-link:hover {
  color: #D4A373 !important;
  transform: translateY(-2px);
}

/* 🌸 Activo */
.navbar-pasteleria .nav-link.active {
  color: #D4A373 !important;
}


.navbar-pasteleria .dropdown-menu {
  background-color: #FFF4E6;
}

.navbar-pasteleria .dropdown-item {
  color: #8B5E3C;
  border-radius: 10px;
  transition: 0.3s;
}

.navbar-pasteleria .dropdown-item:hover {
  background-color: #F8C8DC;
  color: white;
}


.carrito-pastel {
  background-color: #E6D6F5;
  color: #8B5E3C;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.carrito-pastel:hover {
  background-color: #F8C8DC;
  cursor: pointer;
}


.navbar-toggler:focus {
  box-shadow: none;
}