.hero {
    height: 100vh;
    background-image: url("/img/fondoHero.png");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom,
            rgba(26, 13, 20, 0.55) 0%,
            rgba(45, 21, 32, 0.4) 50%,
            rgba(26, 13, 20, 0.75) 100%);
    z-index: 2;
}