<section class="feature-strip w-100 mt-2">
    <div class="container container-wide">
        <div class="row text-center py-5">
            <div class="col-6 col-md-3 feature-item my-2">
                <i class="fa-solid fa-stopwatch fa-2xl mb-3"></i>
                <p class="feature-text">Envío inmediato o<br>programado</p>
            </div>
            <div class="col-6 col-md-3 feature-item my-2">
                <i class="fa-solid fa-bag-shopping fa-2xl mb-3"></i>
                <p class="feature-text">Recogida<br>en tienda</p>
            </div>
            <div class="col-6 col-md-3 feature-item my-2">
                <i class="fa-solid fa-door-open fa-2xl mb-3"></i>
                <p class="feature-text">Abierto de lunes a<br>domingo</p>
            </div>
            <div class="col-6 col-md-3 feature-item my-2">
                <i class="fa-solid fa-shield-halved fa-2xl mb-3"></i>
                <p class="feature-text">Pago rápido y<br>100% seguro</p>
            </div>
        </div>
    </div>
</section>