.hero {
    height: 100vh;
    background-image: url("/img/fotico.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
.page{
    background: #fff;
    min-height: 100vh;
    padding: 40px 20px;
}

.main-pasteleria {
  min-height: 90vh;
  background: linear-gradient(120deg, #ebc9d7, #F8C8DC);
  padding: 120px 0 80px 0;
}

.titulo-pastel {
  color: #8B5E3C;
  font-weight: 400;
  line-height: 1.3;
}

.texto-pastel {
  color: #6d4c3d;
  font-size: 1.15rem;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .titulo-pastel {
    font-size: 2rem;
  }
}