
<main class="main-pasteleria d-flex align-items-center">
  <div class="container text-center">

    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h1 class="display-4 titulo-pastel mb-4">
          Somos una pastelería de bollicao de la empresa AJE.
        </h1>

        <p class="lead mb-4 texto-pastel"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae eligendi amet doloremque architecto deleniti, illo iusto placeat quod esse tempore eveniet! </p>

        <p class="mb-4 texto-pastel"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nisi dolor deserunt voluptatibus sint mollitia ea, sunt voluptate adipisci nostrum repellendus ad. </p>

        <p class="mb-4 texto-pastel"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nulla minus excepturi repudiandae eos corrupti molestiae minima aliquid neque, culpa dolorum accusamus. </p>

        <p class="texto-pastel"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus maiores ipsa atque eius dolorem distinctio at, soluta accusamus, pariatur illum magnam? </p>

      </div>
    </div>

  </div>
</main>